.add_agency_section {
  padding: 30px;
  width: 75rem;
  .heading {
    font-size: 30px;
    line-height: 47px;
    color: #66276e;
    font-family: "Saira-SemiBold";
    margin-bottom: 35px;
  }

  .row{
    .errorMessage{
      font-size: 0.8rem;
      color: red;
      margin: 0rem;
      margin-left: 20.7rem;
    }
  }
  .agency_grid {
    display: flex;
    grid-gap: 30px;
    gap: 30px;
    align-items: baseline;
    p {
      font-size: 16px;
      line-height: 16px;
      color: #66276e;
      width: 35%;
      margin: 0rem;
    }
    span {
      font-size: 16px;
      line-height: 28px;
      color: #66276e;
      width: 7rem;
    }
    input {
      height: 35px;
    }
    input,
    textarea,
    select {
      outline: none;
      background: #f2f2f2;
      border-radius: 6px;
      border: unset;
      width: 200px;
      padding: 0.2rem 1rem;
      margin-top: 1rem;
      // color: #66276e;
    }
    .form-group {
      display: flex;
      align-items: baseline;
      gap: 10px;
      margin-top: 4rem;
    }
    .form-control-file,
    .form-control-range {
      display: block;
      width: 60%;
      background: #fff;
    }
  }
  .addagency-btns {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
  }
}
// =================================================== Media Queries =============================================
@media (max-width: 767.98px) {
  .add_agency_section {
    padding: 10px;
    width: auto;
    .agency_grid {
      display: flex;
      align-items: baseline;
      gap: 30px;
      p {
        font-size: 16px;
        line-height: 28px;
        color: #66276e;
        width: 12rem;
      }
      span {
        font-size: 16px;
        line-height: 28px;
        color: #66276e;
        width: 10rem;
      }
    }
    .addagency-btns {
      display: flex;
      justify-content: center;
      align-items: center;
      grid-gap: 10px;
      gap: 10px;
      margin: 20px 0px 10px 0px;
    }
  }
}
