.add_guard_section {
  padding: 30px;
  width: 80rem;
  .main_heading {
    display: flex;
    align-items: center;
    .edit_icon {
      display: flex;
      align-items: center;
      gap: 5px;
      color: #66276e;
    }
  }
  .heading {
    font-size: 30px;
    line-height: 26px;
    color: #66276e;
    font-family: "Saira-SemiBold";
    margin-bottom: 26px;
  }
  .guard_grid {
    display: flex;
    align-items: baseline;
    gap: 30px;
    p {
      font-size: 14px;
      line-height: 19px;
      color: #66276e;
      width: 11rem;
      margin-bottom: 0px;
    }
    span {
      font-size: 14px;
      line-height: 28px;
      color: #66276e;
      width: 8rem;
    }
    input,
    textarea {
      outline: none;
      background: #f2f2f2;
      border-radius: 6px;
      border: unset;
      width: 250px;
      padding: 10px;
      font-size: 14px;
    }
    .form-group {
      display: flex;
      align-items: baseline;
      gap: 10px;
    }
    .form-control-file,
    .form-control-range {
      display: block;
      width: 90%;
      background: #fff;
      color: #66276e;
    }
  }
  .addagency-btns {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
  }
  input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(255, 255, 255, 0);
    opacity: 1;
    display: block;
    background: url(../../../Assets/Icons/Date_icon.png) no-repeat;
    width: 20px;
    height: 20px;
    border-width: thin;
    display: flex;
  }
  .verification_details {
    .sub_heading {
      font-size: 22px;
      font-family: "Saira-Medium";
      line-height: 35px;
      color: #66276e;
    }
    .date__picker {
      width: 100%;
    }
  }
  .banking_details {
    .sub_heading {
      font-size: 22px;
      font-family: "Saira-Medium";
      line-height: 35px;
      color: #66276e;
    }
    .date__picker {
      width: 100%;
    }
  }
}

// =================================================== Media Queries =============================================
@media (max-width: 767.98px) {
  .add_guard_section {
    padding: 10px;
    width: auto;
    .guard_grid {
      display: flex;
      align-items: baseline;
      gap: 30px;
      p {
        font-size: 16px;
        line-height: 28px;
        color: #66276e;
        width: 12rem;
      }
      span {
        font-size: 16px;
        line-height: 28px;
        color: #66276e;
        width: 10rem;
      }
      input,
      textarea {
        outline: none;
        background: #f2f2f2;
        border-radius: 6px;
        border: unset;
        width: 100%;
        padding: 10px;
      }
    }
    .addagency-btns {
      display: flex;
      justify-content: center;
      align-items: center;
      grid-gap: 10px;
      gap: 10px;
      margin: 20px 0px 10px 0px;
    }
  }
}
