@import "../../../Styles/Colors.scss";
.feedback_section {
  // background-color: $Bg_main;
  width: -webkit-fill-available;
  padding: 0rem 2rem;
  .ticket_btn {
    border: unset;
    background-color: transparent;
    cursor: pointer;
    text-decoration: underline;

    a {
      color: #000;
    }
  }
  .feedback_div {
    .main_heading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h1 {
        font-family: "Saira-SemiBold";
        font-size: 30px;
        line-height: 47px;
        color: #66276e;
      }
      .date_picker {
        display: flex;
        align-items: center;
        input {
          border: 1px solid #66276e;
          border-radius: 25px;
          font-size: 12px;
          height: 26px;
          // margin-left: 12px;
          padding: 10px;
          color: #66276e;
          outline: unset;
        }
        input[type="date"]::-webkit-inner-spin-button,
        input[type="date"]::-webkit-calendar-picker-indicator {
          opacity: 0;
          padding-left: 0px;
          -webkit-appearance: none;
        }
        span {
          font-size: 14px;
          line-height: 19px;
          color: #121214;
          padding: 0px 10px;
        }
      }
    }
    .sub_heading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .feedback_tabs {
        display: flex;
        gap: 30px;
        align-items: center;
        .pending_feedback {
          border-bottom: 3px solid #66276e;
          font-family: "Saira-SemiBold";
          font-size: 14px;
          line-height: 28px;
          color: #66276e;
          text-decoration: none;
        }
        .closed_feedback {
          font-family: "Saira-SemiBold";
          font-size: 14px;
          line-height: 28px;
          color: #66276e;
          text-decoration: none;
        }
        .appreciation_feedback {
          font-family: "Saira-SemiBold";
          font-size: 14px;
          line-height: 28px;
          color: #66276e;
          text-decoration: none;
        }
      }
      //   h3 {
      //     font-family: "Saira-SemiBold";
      //     font-size: 14px;
      //     line-height: 28px;
      //     color: #66276e;
      //   }
      .date_search {
        display: flex;
        align-items: center;
        gap: 25px;
        .select_office {
          display: flex;
          align-items: center;
          gap: 10px;
        }
        input,
        select {
          border: unset;
          background: #e5e5e5;
          border-radius: 24.5px;
          padding: 1px 10px;
          outline: none;
          width: 170px;
        }
        .search_bar {
          display: flex;
          align-items: center;
          gap: 10px;
        }
        .add_agency {
          display: flex;
          align-items: center;
          gap: 10px;
          img {
            cursor: pointer;
          }
          span {
            font-size: 14px;
            line-height: 22px;
            color: #66276e;
          }
        }
      }
      .date_picker {
        display: flex;
        align-items: center;
        input {
          border: 1px solid #66276e;
          border-radius: 25px;
          font-size: 12px;
          height: 26px;
          margin-left: 12px;
          padding: 10px;
        }
        input[type="date"]::-webkit-inner-spin-button,
        input[type="date"]::-webkit-calendar-picker-indicator {
          opacity: 0;
          padding-left: 0px;
          -webkit-appearance: none;
        }
        span {
          font-size: 14px;
          line-height: 19px;
          color: #121214;
        }
      }
      .click_arrows {
        img {
          padding: 0px 0px 0px 11px;
        }
      }
    }
    .manage_agency_table {
      //   margin: 0px 30px 3rem !important;
      box-shadow: 4px 1px 9px rgba(0, 0, 0, 0.09);
      border-radius: 22px;
      background-color: #ffffff;
    }
    .manage_btn {
      display: flex;
      justify-content: end;
      margin: 40px 0px;
    }
  }
}
.manage_agency_table{
  .datePicker-searchbar{
    position: absolute;
    top: 3.5rem;
    right: 2rem;
    .date_picker{
      display: flex;
      margin-bottom: 3rem;
      gap: 1rem;
      input{
        border: unset;
        background: #e5e5e5;
        border-radius: 24.5px;
        padding: 1px 10px;
        outline: none;
        width: 180px;
      }
    }
    .search_bar{
      display: flex;
      gap: 1rem;
      justify-content: flex-end;
      input{
        border: unset;
        background: #e5e5e5;
        border-radius: 24.5px;
        padding: 1px 10px;
        outline: none;
        width: 180px;
      }
    }
  }
  
}
// =================================================== Media Queries =============================================
@media (max-width: 768px) {
  .feedback_section {
    overflow-x: scroll;
    .feedback_div {
      .sub_heading {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        flex-direction: column;
        .date_search {
          display: flex;
          align-items: baseline;
          grid-gap: 25px;
          gap: 25px;
          flex-direction: column;
          margin-top: 21px;
          .select_office {
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 14px;
          }
          input,
          select {
            border: unset;
            background: #e5e5e5;
            border-radius: 24.5px;
            padding: 1px 10px;
            outline: none;
            width: 145px;
          }
        }
      }
      .main_heading {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: baseline;
        h1 {
          font-family: "Saira-SemiBold";
          font-size: 28px;
          line-height: 23px;
          color: #66276e;
        }
        .date_picker {
          display: flex;
          align-items: baseline;
          flex-direction: column;
          line-height: 40px;
          margin-top: 16px;
        }
      }
      .manage_agency_table {
        //   margin: 0px 30px 3rem !important;
        box-shadow: 4px 1px 9px rgba(0, 0, 0, 0.09);
        border-radius: 22px;
        background-color: #ffffff;
        width: fit-content;
      }
    }
  }
}

@media (max-width: 991.98px) {
  .feedback_section {
    overflow-x: scroll;
    .feedback_div {
      .sub_heading {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        flex-direction: column;
        gap: 20px;
      }
      .manage_agency_table {
        width: fit-content;
      }
    }
  }
}
