.table {
  margin-bottom: 0rem !important;
  .editline_btn {
    text-decoration: underline;
  }
  td,
  th {
    padding: 0.5rem 0.3rem !important;
    vertical-align: middle;
    text-align: center;
    border-top: none !important;
    font-weight: 500;
    font-size: 12px;
    line-height: 35px;
    color: #000;
  }
  thead {
   
    tr th:first-child {
      border-radius: 11px 0px 0px 0px;
      vertical-align: middle;
    }
    tr th:last-child {
      border-radius: 0px 11px 0px 0px;
      vertical-align: middle;
    }
    th {
      vertical-align: bottom;
      border-bottom: 2px solid #dee2e6;
      color: #ffffff;
      vertical-align: middle;
      font-size: 14px !important;
      background-color: #66276e;
    }
  }
  tbody {
    tr {
      &:hover {
        background-color: #f2f2f2;
        cursor: pointer;
        td:first-child {
          border-top-left-radius: 42px;
        }
        td:last-child {
          border-top-right-radius: 42px;
        }
        td:first-child {
          border-bottom-left-radius: 42px;
        }
        td:last-child {
          border-bottom-right-radius: 42px;
        }
      }
    }
    // .check_box {
    //   &::checked {
    //     background-color: violet;
    //     color: red;
    //   }
    // }
  }
}

.table-light,
.table-light > td,
.table-light > th {
  background-color: unset;
}
.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
  .react_table_pagination {
    background-color: #66276e;
    border-radius: 25px;
    display: flex;
    grid-gap: 15px;
    gap: 15px;
    align-items: baseline;
    position: absolute;
    margin-top: 3rem;;
    padding: 0px 16px 0px 0px;
    .button {
      margin: -4px;
      background-color: rgb(149, 47, 164);
      color: rgb(255, 255, 255);
      border: unset;
      border-bottom-left-radius: 26px;
      border-top-left-radius: 30px;
      padding: 8px 14px !important;
    }
  }
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  // background-color: unset;
  // background-clip: border-box;
  // border: unset;
  // border-radius: 0.25rem;
  .card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 0rem;
  }
}
// =================================================== Media Queries =============================================
@media (max-width: 768px) {
  .table {
    width: max-content;
    margin-bottom: 0rem;
    color: #212529;
    td,
    th {
      padding: 0.5rem 0.3rem !important;
      vertical-align: middle;
      text-align: center;
      border-top: none !important;
      font-weight: 500;
      font-size: 12px;
      line-height: 30px;
      color: #000;
    }
  }
  .pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
    .react_table_pagination {
      background-color: #66276e;
      border-radius: 25px;
      display: flex;
      grid-gap: 15px;
      gap: 15px;
      align-items: baseline;
      position: absolute;
      margin-top: 60px;
      padding: 0px 16px 0px 0px;
    }
  }
}

@media (max-width: 991.98px) {
  .table {
    width: max-content;
    margin-bottom: 1rem;
    color: #212529;
    margin-bottom: 0rem;
    td,
    th {
      padding: 0.5rem 0.3rem !important;
      vertical-align: middle;
      text-align: center;
      border-top: none !important;
      font-weight: 500;
      font-size: 12px;
      line-height: 30px;
      color: #000;
    }
  }
}
